button {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    
    background-color: #2E8161;
    border: none;
    padding: 16px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 35px;
    transition: 0.3s;
}
button:hover {
    padding: 16px 22px;
    background-color: #165D41;
    transition: 0.3s;
}

textarea {
	background: transparent;
	width: 80%;
	height: 150px;
    border-style: solid;
    border-width: 20px 1px 1px 1px;
    border-top-color: #2E8161;
	transition: .3s;
	padding: 10px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea:focus,
textarea:hover {
	height: 200px;
    transition: 0.3s;
}

.inp1 input {
	background: transparent;
	width: 80%;
	height: 15px;
    border-style: solid;
    border-width: 10px 1px 1px 1px;
    border-color: darkgrey;
    border-top-color: #2E8161;
	transition: .3s;
	padding: 10px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inp1 input:focus,
.inp1 input:hover {
	height: 25px;
    transition: 0.3s;
}

.inp2 input {
	background: transparent;
	width: 40%;
	height: 30px;
    border-style: solid;
    border-width: 20px 1px 1px 1px;
    border-color: darkgrey;
    border-top-color: #2E8161;
	transition: .3s;
	padding: 15px;
    padding-bottom: 10px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* 전체 폰트 */
html,
th,
td,
input,
select,
code {
	font-size: 14px;
    font-weight: bold;
    color: black ;
    margin: 10px;
    line-height: 1.7;
    background: #eee;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* 배경 */
body {
    background: #eee;
}